CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE=y
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="tegra210-smaug"
# CONFIG_EXFAT_FS
# CONFIG_SND_SOC_TEGRA_T186REF_AUTO_ALT is not set
# CONFIG_SND_SOC_TEGRA_ALT is not set
# CONFIG_SND_SOC_TEGRA_T186REF_ALT is not set
# CONFIG_SND_SOC_TEGRA210_AUDIO_ALT is not set
CONFIG_SND_SOC_TEGRA_ALT_SPHYNX=m
CONFIG_SND_SOC_TEGRA_T210REF_MOBILE_RT5677_ALT=m
